.div1{
    margin-top: 7%;
    margin-left: 15%;
    margin-right: 15%;
}

h1{
    color: #3a3a3a;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.input{
    text-align: left;
    padding-top: 9px;
    padding-bottom: 9px;
    padding-right: 200px;
    border-radius: 7px;
    border: 1px solid;
    margin-right: 30px;
    outline: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

input[type=text]:focus{
    border: 1px solid #b43233;
}

.buttonAdd{
    background-color: #fceae5;
    color: #9c443e;
    margin: 4px 2px;
    padding: 10px 30px;
    border: 1px solid #9c443e;
    border-radius: 7px;
    font-weight: bold;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.buttonAdd:hover{
    background-color: #b43233;
    color: white;
    cursor: pointer;
}

.removeAll{
    color: #9c443e;
    text-decoration: underline;
    margin-left: 44%;
    background: none;
    border: none;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.removeAll{
    cursor: pointer;
}

.auto-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 15%;
    margin-right: 15%;
    align-content: center;
    margin-top: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
#content {
    background-color: white;
    border-radius: 7px;
    margin-right: 40px;
    margin-bottom: 20px;
    align-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19)
}

